<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/AssignmentThreeWithPOMJenkins"><classes><class name="TestCases.EbaySearchAddToCart"><methods><include name="searchAndBuySamsungPhone"/></methods></class><class name="TestCases.EbaySearchAddtoWatchlist"><methods><include name="searchAndBuySamsungPhone"/></methods></class><class name="TestCases.EbaySearchTestBuyItNow"><methods><include name="searchAndBuySamsungPhone"/></methods></class><class name="TestCases.EbaySearchWithWrongLocator"><methods><include name="searchAndBuySamsungPhone"/></methods></class><class name="TestCases.HeadlessTestCase"><methods><include name="searchAndBuySamsungPhone"/></methods></class></classes></test></suite>